<!-- views/index.html -->
<!doctype html>
<html ng-app="orderlyApp">
<head>
    <title>order.ly</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="app.css">
    <script src = "angular.js"></script>
    <script src = "angoose-client.js"></script>
    <script src = "angular-route.js"></script>
    <script src = "app.js"></script>
    <script src = "controller.js"></script>

    <style>
        body { padding-top:40px; }
    </style>
</head>
<body>
<div class="container">

    <div class="col-md-4">
        <h1>order.ly</h1>
        <p>order matters - test 2 (html version) </p>

      <ul style = "list-style:none">
        <li><a href="/#/home" class="btn btn-default"><span class="fa fa-check-square-o"></span> Task List</a></li>
        <li><a href="/#/create-task" class="btn btn-default"><span class="fa fa-edit"></span> Create Task</a></li>
        <li><a href="/#/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a></li>
        <li><a href="/#/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a></li>
      </ul>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

    </div>
    </div>

    <div class="col-md-8">
      <div ng-view></div>
    <div>

</div>
</body>
</html>
